language: php

php:
    - 7.0
    - 7.1

before_script:
    - phpenv config-rm xdebug.ini # disable xdebug
    - wget http://getcomposer.org/composer.phar
    - php composer.phar install --prefer-dist --no-interaction

script:
    - make lint test
