<section id="discover">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ site.project_name }}, the developer companion</h2>
                <hr class="primary">
                <p class="text-muted">
                    Generate your project(s)
                    <strong>complete Docker development architecture</strong>
                    with 1 simple YAML file.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-thumbs-up wow bounceIn text-primary"></i>
                    <h3>So <strong>easy</strong></h3>
                    <p class="text-muted">
                        1 YAML file<br>
                        <small>
                            Here is a
                            <a href="javascript:;" data-toggle="modal" data-target="#simple-example-snippet-modal">PHP/MySQL</a>
                            example
                        </small>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-puzzle-piece wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>So <strong>flexible</strong></h3>
                    <p class="text-muted">
                        From 1 to ∞ declared services,<br>or custom images ones
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-rocket wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>So <strong>fast</strong></h3>
                    <p class="text-muted">
                        Using <a href="http://docker-sync.io/" title="Docker-Sync">Docker-Sync</a>
                        native drivers,<br>
                        no more I/O lags<br>
                        <small>Linux/OSX/Windows compatibility</small>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-github wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>So <strong>free</strong></h3>
                    <p class="text-muted">
                        {{ site.project_name }} is open source<br>
                        Feel free to
                        <a href="https://github.com/{{ site.project_github_username }}/{{ site.project_github_identifier }}" title="Contribute">contribute</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
