<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Your new development architecture genetator</h2>
                <hr class="light">
                <p class="text-faded">
                    What about generating your project(s) complete Docker architecture...<br>
                    ... with 1 simple YAML file?
                </p>
                <a href="#install" class="btn btn-default btn-xl page-scroll">Get Started</a>
            </div>
        </div>
    </div>
</section>
