<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">1 YAML file = 1 complete Docker dev architecture</h2>
                <hr class="light">
                <p class="text-faded">
                    Define all services/images you needed into a <em>.docker-arch.yml</em> file,<br>
                    joined to your project, and build your Docker architecture.<br>
                    So fast, so easy.
                </p>
                <a href="#install" class="btn btn-default btn-xl page-scroll">Get Started</a>
            </div>
        </div>
    </div>
</section>
