<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's get in touch!</h2>
                <hr class="primary">
                <p>Some ideas, advices, questions or comments about {{ site.project_name }}?</p>
                <p>
                    <a href="https://twitter.com/{{ site.twitter_username }}" class="btn btn-default btn-xl">
                        <i class="fa fa-twitter wow bounceIn" data-wow-delay=".1s"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" class="btn btn-default btn-xl">
                        <i class="fa fa-linkedin wow bounceIn" data-wow-delay=".1s"></i>
                    </a>
                    <a href="https://github.com/{{ site.github_username }}" class="btn btn-default btn-xl">
                        <i class="fa fa-github wow bounceIn" data-wow-delay=".1s"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>
