<section id="demo" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Demonstration</h2>
                <hr class="light">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="well">
                <img src="/img/demo.gif" alt="Demonstration" style="width: 100%; height: auto;">
            </div>
        </div>
    </div>
</section>
